.elementor-kit-7 {
	--e-global-color-primary: #126E82;
	--e-global-color-secondary: #51C4D3;
	--e-global-color-text: #D8E3E7;
	--e-global-color-accent: #132C33;
	--e-global-color-b64bbc0: #FFFFFF;
	--e-global-color-2be9552: #094E5E;
	--e-global-color-bdfba0f: #FFFFFF7D;
	--e-global-color-7ae8ce7: #606060;
	--e-global-color-bf186a2: #126E8296;
	--e-global-color-bd6193d: #C7D1D5;
	--e-global-typography-primary-font-family: "Playfair Display";
	--e-global-typography-primary-font-size: 38px;
	--e-global-typography-primary-font-weight: 600;
	--e-global-typography-primary-line-height: 1.3em;
	--e-global-typography-secondary-font-family: "Playfair Display";
	--e-global-typography-secondary-font-size: 20px;
	--e-global-typography-secondary-font-weight: 600;
	--e-global-typography-secondary-line-height: 1em;
	--e-global-typography-text-font-family: "Heebo";
	--e-global-typography-text-font-size: 18px;
	--e-global-typography-text-font-weight: 300;
	--e-global-typography-text-line-height: 1.5em;
	--e-global-typography-accent-font-family: "Playfair Display";
	--e-global-typography-accent-font-size: 24px;
	--e-global-typography-accent-font-weight: 600;
	--e-global-typography-accent-line-height: 1.5em;
	--e-global-typography-cbe2fa4-font-family: "Lato";
	--e-global-typography-cbe2fa4-font-size: 13px;
	--e-global-typography-cbe2fa4-font-weight: 600;
	--e-global-typography-cbe2fa4-text-transform: uppercase;
	--e-global-typography-cbe2fa4-line-height: 1.2em;
	--e-global-typography-cbe2fa4-letter-spacing: 1.5px;
	--e-global-typography-c350781-font-family: "Playfair Display";
	--e-global-typography-c350781-font-size: 55px;
	--e-global-typography-c350781-font-weight: 600;
	--e-global-typography-c350781-line-height: 1.3em;
	--e-global-typography-644a202-font-family: "Playfair Display";
	--e-global-typography-644a202-font-size: 20px;
	--e-global-typography-644a202-font-weight: 600;
	--e-global-typography-644a202-line-height: 1em;
	--e-global-typography-a7a707b-font-family: "Heebo";
	--e-global-typography-a7a707b-font-size: 18px;
	--e-global-typography-a7a707b-font-weight: 300;
	--e-global-typography-a7a707b-line-height: 1.5em;
	--e-global-typography-ee21041-font-family: "Heebo";
	--e-global-typography-ee21041-font-size: 15px;
	--e-global-typography-ee21041-font-weight: 600;
	--e-global-typography-ee21041-text-transform: uppercase;
	--e-global-typography-ee21041-line-height: 1em;
	--e-global-typography-ee21041-letter-spacing: 1.5px;
	--e-global-typography-0797d75-font-family: "Playfair Display";
	--e-global-typography-0797d75-font-size: 18px;
	--e-global-typography-0797d75-font-weight: 600;
	--e-global-typography-0797d75-line-height: 1.5em;
	--e-global-typography-6592eb7-font-family: "Heebo";
	--e-global-typography-6592eb7-font-size: 16px;
	--e-global-typography-6592eb7-font-weight: 400;
	--e-global-typography-6592eb7-line-height: 1.2em;
	--e-global-typography-01e13ea-font-family: "Heebo";
	--e-global-typography-01e13ea-font-size: 18px;
	--e-global-typography-01e13ea-font-weight: 400;
	--e-global-typography-01e13ea-line-height: 1.3em;
	--e-global-typography-30bf383-font-family: "Heebo";
	--e-global-typography-30bf383-font-size: 13px;
	--e-global-typography-30bf383-font-weight: 600;
	--e-global-typography-30bf383-text-transform: uppercase;
	--e-global-typography-30bf383-line-height: 1em;
	--e-global-typography-30bf383-letter-spacing: 1.5px;
	--e-global-typography-8aa7b0d-font-family: "Playfair Display";
	--e-global-typography-8aa7b0d-font-size: 20px;
	--e-global-typography-8aa7b0d-font-weight: 600;
	--e-global-typography-8aa7b0d-line-height: 1.5em;
	--e-global-typography-ff782dd-font-family: "Playfair Display";
	--e-global-typography-ff782dd-font-size: 24px;
	--e-global-typography-ff782dd-font-weight: 600;
	--e-global-typography-ff782dd-line-height: 1em;
	--e-global-typography-3336ab3-font-family: "Playfair Display";
	--e-global-typography-3336ab3-font-size: 25px;
	--e-global-typography-3336ab3-font-weight: 600;
	--e-global-typography-3336ab3-line-height: 1em;
	--e-global-typography-791417e-font-family: "Heebo";
	--e-global-typography-791417e-font-size: 14px;
	--e-global-typography-791417e-font-weight: 300;
	--e-global-typography-791417e-line-height: 1.5em;
	--e-global-typography-bd148ef-font-family: "Playfair Display";
	--e-global-typography-bd148ef-font-size: 20px;
	--e-global-typography-bd148ef-font-weight: 600;
	--e-global-typography-bd148ef-line-height: 1.3em;
	--e-global-typography-e47c5ce-font-family: "Heebo";
	--e-global-typography-e47c5ce-font-size: 13px;
	--e-global-typography-e47c5ce-font-weight: 400;
	--e-global-typography-e47c5ce-text-transform: uppercase;
	--e-global-typography-e47c5ce-line-height: 1em;
	--e-global-typography-b006aea-font-family: "Heebo";
	--e-global-typography-b006aea-font-size: 15px;
	--e-global-typography-b006aea-font-weight: 300;
	--e-global-typography-b006aea-line-height: 1.5em;
	--e-global-typography-0fcdbae-font-family: "Playfair Display";
	--e-global-typography-0fcdbae-font-size: 30px;
	--e-global-typography-0fcdbae-font-weight: 600;
	--e-global-typography-0fcdbae-line-height: 1.5em;
	--e-global-typography-6ded871-font-family: "Heebo";
	--e-global-typography-6ded871-font-size: 17px;
	--e-global-typography-6ded871-font-weight: 300;
	--e-global-typography-6ded871-line-height: 1.3em;
	--e-global-typography-b13672f-font-family: "Lato";
	--e-global-typography-b13672f-font-size: 13px;
	--e-global-typography-b13672f-font-weight: 600;
	--e-global-typography-b13672f-text-transform: uppercase;
	--e-global-typography-b13672f-line-height: 1.2em;
	--e-global-typography-b13672f-letter-spacing: 1.5px;
	--e-global-typography-41d4fde-font-family: "Playfair Display";
	--e-global-typography-41d4fde-font-size: 165px;
	--e-global-typography-41d4fde-font-weight: 600;
	--e-global-typography-41d4fde-line-height: 1.3em;
	--e-global-typography-ed9767e-font-family: "Heebo";
	--e-global-typography-ed9767e-font-size: 18px;
	--e-global-typography-ed9767e-font-weight: 400;
	--e-global-typography-ed9767e-line-height: 1.5em;
	--e-global-typography-c63cb89-font-family: "Playfair Display";
	--e-global-typography-c63cb89-font-size: 38px;
	--e-global-typography-c63cb89-font-weight: 600;
	--e-global-typography-c63cb89-line-height: 1.8em;
	color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-kit-7 a {
	color: var(--e-global-color-primary);
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
	font-family: var(--e-global-typography-30bf383-font-family), Sans-serif;
	font-size: var(--e-global-typography-30bf383-font-size);
	font-weight: var(--e-global-typography-30bf383-font-weight);
	text-transform: var(--e-global-typography-30bf383-text-transform);
	line-height: var(--e-global-typography-30bf383-line-height);
	letter-spacing: var(--e-global-typography-30bf383-letter-spacing);
	word-spacing: var(--e-global-typography-30bf383-word-spacing);
	color: var(--e-global-color-b64bbc0);
	background-color: var(--e-global-color-primary);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding: 18px 32px 18px 32px;
}

.elementor-kit-7 button:hover,
.elementor-kit-7 button:focus,
.elementor-kit-7 input[type="button"]:hover,
.elementor-kit-7 input[type="button"]:focus,
.elementor-kit-7 input[type="submit"]:hover,
.elementor-kit-7 input[type="submit"]:focus,
.elementor-kit-7 .elementor-button:hover,
.elementor-kit-7 .elementor-button:focus {
	color: var(--e-global-color-b64bbc0);
	background-color: var(--e-global-color-2be9552);
	border-radius: 0px 0px 0px 0px;
}

.elementor-kit-7 label {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-ed9767e-font-family), Sans-serif;
	font-size: var(--e-global-typography-ed9767e-font-size);
	font-weight: var(--e-global-typography-ed9767e-font-weight);
	line-height: var(--e-global-typography-ed9767e-line-height);
	letter-spacing: var(--e-global-typography-ed9767e-letter-spacing);
	word-spacing: var(--e-global-typography-ed9767e-word-spacing);
}

.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea,
.elementor-kit-7 .elementor-field-textual {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
	color: var(--e-global-color-accent);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: var(--e-global-color-text);
	border-radius: 0px 0px 0px 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
	max-width: 1300px;
}

.e-container {
	--container-max-width: 1300px;
}

.elementor-widget:not(:last-child) {
	margin-bottom: 20px;
}

.elementor-element {
	--widgets-spacing: 20px;
}

.elementor-kit-7 e-page-transition {
	background-color: #FFBC7D;
}

@media(max-width:1024px) {
	.elementor-kit-7 {
		--e-global-typography-primary-font-size: 36px;
		--e-global-typography-secondary-font-size: 18px;
		--e-global-typography-secondary-line-height: 1.5em;
		--e-global-typography-text-font-size: 17px;
		--e-global-typography-accent-font-size: 22px;
		--e-global-typography-c350781-font-size: 50px;
		--e-global-typography-ee21041-font-size: 14px;
		--e-global-typography-01e13ea-font-size: 16px;
		--e-global-typography-8aa7b0d-font-size: 19px;
		--e-global-typography-41d4fde-font-size: 145px;
		--e-global-typography-c63cb89-font-size: 36px;
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-kit-7 button,
	.elementor-kit-7 input[type="button"],
	.elementor-kit-7 input[type="submit"],
	.elementor-kit-7 .elementor-button {
		font-size: var(--e-global-typography-30bf383-font-size);
		line-height: var(--e-global-typography-30bf383-line-height);
		letter-spacing: var(--e-global-typography-30bf383-letter-spacing);
		word-spacing: var(--e-global-typography-30bf383-word-spacing);
	}

	.elementor-kit-7 label {
		font-size: var(--e-global-typography-ed9767e-font-size);
		line-height: var(--e-global-typography-ed9767e-line-height);
		letter-spacing: var(--e-global-typography-ed9767e-letter-spacing);
		word-spacing: var(--e-global-typography-ed9767e-word-spacing);
	}

	.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
	.elementor-kit-7 textarea,
	.elementor-kit-7 .elementor-field-textual {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 1024px;
	}

	.e-container {
		--container-max-width: 1024px;
	}
}

@media(max-width:767px) {
	.elementor-kit-7 {
		--e-global-typography-primary-font-size: 27px;
		--e-global-typography-secondary-font-size: 16px;
		--e-global-typography-secondary-line-height: 1.5em;
		--e-global-typography-text-font-size: 15px;
		--e-global-typography-accent-font-size: 20px;
		--e-global-typography-c350781-font-size: 40px;
		--e-global-typography-ee21041-font-size: 13px;
		--e-global-typography-01e13ea-font-size: 15px;
		--e-global-typography-30bf383-font-size: 12px;
		--e-global-typography-8aa7b0d-font-size: 17px;
		--e-global-typography-41d4fde-font-size: 125px;
		--e-global-typography-c63cb89-font-size: 27px;
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-kit-7 button,
	.elementor-kit-7 input[type="button"],
	.elementor-kit-7 input[type="submit"],
	.elementor-kit-7 .elementor-button {
		font-size: var(--e-global-typography-30bf383-font-size);
		line-height: var(--e-global-typography-30bf383-line-height);
		letter-spacing: var(--e-global-typography-30bf383-letter-spacing);
		word-spacing: var(--e-global-typography-30bf383-word-spacing);
	}

	.elementor-kit-7 label {
		font-size: var(--e-global-typography-ed9767e-font-size);
		line-height: var(--e-global-typography-ed9767e-line-height);
		letter-spacing: var(--e-global-typography-ed9767e-letter-spacing);
		word-spacing: var(--e-global-typography-ed9767e-word-spacing);
	}

	.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
	.elementor-kit-7 textarea,
	.elementor-kit-7 .elementor-field-textual {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 767px;
	}

	.e-container {
		--container-max-width: 767px;
	}
}
